{% extends 'base.html' %}
{% block title %} Mapas en Django Test{% endblock %}
{% block container %}

	<!--Comentario -->
	<div class="span10">
	<input type="text" placeholder="Ingresa una direccion" id="direccion">
	<input type="button" id="buscar" class="btn btn-primary" value="Buscar">
		<div id="mapa" class="google-map-canvas"></div>
	</div>
	<div id="datos" class="span4">
		<div id="form">
			<form action="/coords/save" method="post" id="save_form">{% csrf_token %}
				{{ form.as_p }}
				<p>
					<input type="submit" value="Guardar ubicacion" class="btn btn-primary">
				</p>
			</form>
		</div>
		<div id="data">
			<ul>
			{% for ubicacion in datos%}
				<li>{{ ubicacion.nombre}} {{ ubicacion.user}} - hace {{  ubicacion.fecha|timesince }} <i class="icon-search"></i><span style="display:none">{{ubicacion.id}}</span></li>

			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}